<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCS</title>
    <link rel="stylesheet" href="../styles/bcsstyle.css">
</head>
<body>
     <header>
            <nav class="navbar">
                <i>BCS EXAMS</i>
            </nav>
     </header>
     <div class="background"></div>
     <div class="container">
           
          <a href="mcq.html">
            <div class="box box1">
            <p>MARKS:100<br>TIME:1 HOUR</p>
            </div>
        </a> 
           <div class="box box2">
            <p>MARKS:100<br>TIME:1 HOUR</p>
           </div>
          <div class="box box3">
           <p>MARKS:100<br>TIME:1 HOUR</p>
            </div>
            <div class="box box4">
                <p>MARKS:100<br>TIME:1 HOUR</p>
           </div>
           <div class="box box5">
            <p>MARKS:100<br>TIME:1 HOUR</p>
           </div>
           <div class="box box6">
            <p>MARKS:100<br>TIME:1 HOUR</p>
           </div>




     </div>
</body>
</html>