<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Expert_guide.css">
</head>
<body>
    <header>
        <h3>General Knowledge</h3>
    </header>
    <div class="hero">
        <div class="box box1">
             <h1> Political History of Ancient Bengal</h1>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/oTKNwRVarSE?si=-c5nPXayfDfUw1Uf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="box box2">
            <h1>Mughal Era.</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ikM1CSBhDsU?si=XyKmX3BFcxFmafMv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="box box2">
            <h1>Introduction to Power and Politics in Today’s World</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/BDqvzFY72mg?si=rVOlFxEw7B_VXg9q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="box box3">
            <h1>Bangladesh Affairs</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6N5J8jlSp00?si=1_xkMtwYB__3YNcc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    
    
</body>
</html>