<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="/mains.css">
</head>
<body>
      <header> 
           <nav class = "navbar "> 
            <a href="/student/main/routine"> ROUTINE</a>
           </nav>
      </header>
      <div class="contents">
             <a href="/student/main/pdf"><div class ="content1"></div></a>
              <a href="/student/main/exam"><div class="content2"></div></a>
              <a href="/student/main/lecture"><div class="content3"></div></a>
      </div>
      <footer>
         <p>	&#169 2025 Prepshere.All shares reserved</p>
      </footer>
</body>
</html>