<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/paperCheck.css">
</head>
<body>
    <header>Evaluate papers</header>
    <div id="usersList"></div>
    <footer>
        <form id="marksForm" method="post">
              <input type="text" name="qn1" placeholder="Question 1">
              <input type="text" name="qn2" placeholder="Question 2">
              <input type="text" name="qn3" placeholder="Question 3">
              <input type="text" name="qn4" placeholder="Question 4">
              <input type="text" name="qn5" placeholder="Question 5">
              <input type="text" name="qn6" placeholder="Question 6">
              <input type="text" name="qn7" placeholder="Question 7">
              <input type="text" name="qn8" placeholder="Question 8">
              <button type="submit">Submit</button>
        </form>
    </footer>
    <script src="/paperCheck.js"></script>
</body>
</html>
