<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/pdf.css">
</head>
<body>
    <header>
          <p>Study Materials</p>
    </header>
    <div class="hero">
            <div class="box">
                <h2>Data Structure</h2>
                <div class="bookpic book1"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Database</h2>
                <div class="bookpic book2"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Economics</h2>
                <div class="bookpic book3"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Microprocessor</h2>
                <div class="bookpic book4"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Operating System</h2>
                <div class="bookpic book5"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Electric Engineering</h2>
                <div class="bookpic book6"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>English</h2>
                <div class="bookpic book7"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Bangla</h2>
                <div class="bookpic book8"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Algorithm</h2>
                <div class="bookpic book9"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Agriculture</h2>
                <div class="bookpic book10"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Anatomy</h2>
                <div class="bookpic book11"></div>
                <a href="">Download</a>
            </div>
            <div class="box">
                <h2>Zoology</h2>
                <div class="bookpic book12"></div>
                <a href="">Download</a>
            </div>
    </div>
</body>
</html>