<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/practice_test_home_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
</head>
<body>
    <header>
        <div class = "nav"> 
            <h2 class="logo"> <i class="fa-solid fa-book-open-reader"></i>Prepshere</h2>
            <div class="qa"> 
              <i class="fa-solid fa-message"></i>
              <a href="/chatbox copy/index.html"><p><b>Q&A</b></p></a>
            </div>
           
        </div>       
    </header>
    <div class="hero">
        <div class="mention"> <p>Your Classes</p></div>
       
        <div class="hero-sections">
            <div class="box">
                  <h2>Biology</h2><br>

                 
                   
                       <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                       <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                        <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                       <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

                      <div class="btns">
                        <button class = "btn1">Enter</button>
                        
                      </div>
                   
                
            </div>
            <div class="box">
                <h2>Mathematics</h2><br>

                 
                   
                       <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                       <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                        <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                       <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

                      <div class="btns">
                        <button class = "btn1">Enter</button>
                        
                        
                      </div>
            </div>
            <div class="box">
                <h2>Physics</h2><br>

                 
                   
                       <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                       <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                        <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                        <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                       <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

                      <div class="btns">
                        <button class = "btn1">Enter</button>
                        
                       
                      </div>
            </div>
            <div class="box"><h2>Chemistry </h2><br>

                 
                   
                <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                 <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

               <div class="btns">
                 <a href="bcs.html"><button class = "btn1">Enter</button></a>
                
                 
               </div></div>
            <div class="box"><h2>Bangla</h2><br>

                 
                   
                <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                 <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

               <div class="btns">
                 <button class = "btn1">Enter</button>
                 
                
               
               </div></div>
            <div class="box"><h2>General Knowledge</h2><br>

                 
                   
                <p><i class="fa-solid fa-circle-dot"></i>Classes by talented and experienced teachers</p>
                <p><i class="fa-solid fa-circle-dot"></i>Live marathon classes</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Question bank master class and quiz</p>
                 <p><i class="fa-solid fa-circle-dot"></i>Sufficient number of standard exams</p>
                 <p><i class="fa-solid fa-circle-dot"></i> High-quality study materials</p>
                <p><i class="fa-solid fa-circle-dot"></i>24/7 Q&A service for doubt solving</p>

               <div class="btns">
                 <a href="/student/main/lecture/gk"><button class = "btn1">Enter</button></a>
                 
                
               </div></div>
        </div>
    </div>
    
</body>
</html>