<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/routines.css">
</head>
<body>
       <header>
             <p>Prepshere exams week</p>
       </header>
       <div class="background"></div>
       <div class="container">
          
            <div class="box1 box"> <p>TIME: 4.00<br>HOUR:2<br>BCS:BANGLA</p> </div>
            <div class="box2 box"><p>TIME: 4.00<br>HOUR:2<br>OLYMPIAD:MATHEMATICS</p></div>
            <div class="box3 box"><p>TIME: 4.00<br>HOUR:2<br>ENGINEERING:PHYSICS</p></div>
            <div class="box4 box"><p>TIME: 4.00<br>HOUR:2<br>MEDICAL:MCQ</p></div>
            <div class="box5 box"><p>TIME: 4.00<br>HOUR:2<br>BCS:BANGLA</p></div>
            <div class="box6 box"><p>TIME: 4.00<br>HOUR:2<br>Varsity KA UNIT</p></div>
            <div class="box7 box"><p>TIME: 4.00<br>HOUR:2<br>MEDICAL:MCQ</p></div>
            





       </div>
</body>
</html>