<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/stylesignUp.css">
</head>
<body>
     <div class="signup">
           <div class="signup1"></div>
           <div class="signup2">
                   <div class="all">
                        <div class="create">
                            <h2>Create new Account</h2>
                            <p>Already Registered? Login</p>
                        </div>
                        <form action="/teacher/register" method="post">
                            <div class="fillup">
                                <p>PLEASE ENTER YOUR NAME</p>
                                <input type="text" name="teacher">
                                <P>PLEASE ENTER YOUR EMAIL</P>
                                <input type="text" name="email">
                                <P>PLEASE ENTER YOUR PASSWORD</P>
                                <input type="password" name="password">
                                <P>PLEASE ENTER YOUR DATE OF BIRTH</P>
                                <input type="text" name="dob">
                                <button type="submit" class="bsign">submit</button>
                            </div>
                        </form>
                   </div>
           </div>
     </div>
</body>
</html>
