body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #b3ccdd;
    margin: 0;
}

.app {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
}

.quiz {
    margin-top: 20px;
}

.question-block {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    background: #fff;
    color:#222;
    font-weight:500 ;
    width:100%;
    border: 1px solid #222;
    padding: 10px;
    margin:10px 0;
    text-align: left;
    border-radius: 4;
    cursor: pointer;
    transition:all o.3s ;
}

.btn:hover:not([disabled]){
    background: #222;
    color:#fff;
}
.btn:disabled{
    cursor: no-drop;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
#submit-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background: #218838;
}