* { 

  margin: 0 ; 
  font-family: Arial ; 
  border: border-box; 

}
.signup { 
    display: flex ; 
    background-image: url("frontpic.jpg"); 
    background-size: cover;

}
.signup1 { 
    height: 100vh; 
    width: 40vw; 
    background: transparent;

}
.signup2 { 
    height: 100vh; 
    width: 40vw; 
    background-color:transparent; 
    display: flex ; 
    justify-content: center; 
    align-items:center; 
    

}
.create p { 
    
    color:rgb(201, 103, 103); 
    margin-top: 20px ; 
    margin-left: 50px; 
    font-weight: bold; 
    font-size: 10px ; 
}
.create h2 { 
    margin-left : 20px; 
}
.fillup { 
    margin-top : 50px ; 
}
.fillup input { 
    background-color: white; 
    height : 30px ; 
    width: 300px; 
    border-radius: 20px; 
    margin-bottom: 25px; 
    border: none ; 
    outline: none ; 

    
    
}
.fillup p { 
 
    font-size: 0.85rem ; 
    color:darkgrey;
    margin-bottom: 10px; 
    margin-left: 10px; 
    font-weight: bold ; 

}
.bsign { 
    display:flex ; 
    justify-content: center; 
    align-items: center;
    background-color: #84bbe8; 
    height: 40px; 
    width: 100px;
    margin-left: 100px ; 
    border-radius: 20px; 


}
 a { 
    text-decoration: none ; 
}
.bsign:hover{ 
    cursor : pointer; 
    background-color:#A3FFD6; 
}
.all { 
    margin-left : 325px ; 
}
